# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
build/
tfplan
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
*.egg-info/
.eggs/
dist/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Obsidian
.doc/obsidian/workspace.json
.doc/obsidian/cache
.doc/obsidian/plugins

